body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url();
    background: lightblue;
}

.caja{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: lightblue;
    box-sizing: border-box;
    box-shadow: 0 15px 25px;
    border-radius: 10px;
}

.caja h2{
    margin: 0 0 30px;
    padding: 0px;
    color: black;
    text-align: center;
}

.caja .inputcaja{
    position: relative;
}

.caja .inputcaja input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    margin-bottom: ;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.caja .inputcaja label{
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.caja .inputcaja input:focus ~ label,
.caja .inputcaja input:valid ~ label{
    top: 18px;
    left: 0;
    color: black;
    font-size: 12px;
}

.box input[tipe="sumit"]{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}